<!-- Produto -->
<div class="produto main">

  <h2 class="text-center">Nome do produto</h2>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="produto-img">
        <img src="http://statick3.bseller.com.br/product/57381/3479849_Lef-blo-01w.jpg" alt="Nome do produto" width="100%">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile">
        <p class="produto-preco">R$ <strong>999,99</strong></p>

        <div class="btn-group">
          <a class="btn btn-primary" href="#fakelink">-</a>
          <a class="btn btn-primary" href="#fakelink">1</a>
          <a class="btn btn-primary" href="#fakelink">+</a>
        </div>

        <hr>

        <form>
          <input type="submit" class="btn btn-primary btn-lg btn-block"  value="Adicionar ao carrinho" />    
        </form>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-xs-12">
      <p>Descrição do produto</p>
    </div>
  </div>

</div>
<!--/ Produto -->