<html ng-app="AngularWebstore">
<head>
    <title>Angular Webstore</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
</head>
<body>
    
    <!-- Main -->
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Webstore</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departamentos <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="produtos.html">Cervejas</a></li>
                  </ul>
                </li>
              </ul>
              <ul ng-controller="CarrinhoController as carrinhoCtrl" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle carrinho" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="icon-carrinho glyphicon glyphicon-shopping-cart"></span> 
                    <span class="label label-danger" ng-show="carrinhoCtrl.carrinho.produtos.length">{{carrinhoCtrl.carrinho.produtos.length}}</span>
                  </a>
                  <ul class="dropdown-menu" role="menu" ng-show="carrinhoCtrl.carrinho.produtos.length">
                    <li ng-repeat="produto in carrinhoCtrl.carrinho.produtos | limitTo:5">
                      <a href="#">{{produto.nome}}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="carrinho.html"><span class="glyphicon glyphicon-shopping-cart"></span> Finalizar compra</a></li>
                    <li><a href="#" ng-click="carrinhoCtrl.limparCarrinho()" ><span class="glyphicon glyphicon-remove-circle"></span> Limpar Carrinho</a></li>
                  </ul>
                </li>
              </ul>

            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav><!--/ Static navbar -->
        
        <!-- Produto -->
        <div class="produto">

          <h2 class="text-center">Nome do produto</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="produto-img">
                <img src="http://statick3.bseller.com.br/product/57381/3479849_Lef-blo-01w.jpg" alt="Nome do produto" width="100%">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="tile">
                <p class="produto-preco">R$ <strong>999,99</strong></p>
                
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">-</a>
                  <a class="btn btn-primary" href="#fakelink">1</a>
                  <a class="btn btn-primary" href="#fakelink">+</a>
                </div>
                
                <hr>

                <form>
                  <input type="submit" class="btn btn-primary btn-lg btn-block"  value="Adicionar ao carrinho" />    
                </form>
              </div>
            </div>
            <div class="col-xs-12">
              <p>Descrição do produto</p>
            </div>
          </div>
          
        </div>
        <!--/ Produto -->

    </div>
    <!--/ Main -->

    <div class="container">
      <div id="footer">

        <div class="row">
          <div class="col-sm-4">
            <p><a href="index.html" class="logo">Webstore</a></p>
          </div>
          <div class="col-sm-8">
            <p>Loja virtual simples usando <a href="https://angularjs.org/" target="_blank">Angular.js</a>. <br> Este é um projeto do curso de Pós-graduação em Engenharia de Software do professor Bruno Catão.</p>
            <p>
              <a href="https://github.com/jeffersonrpn/AngularWebstore.git"><span class="fui-github"></span></a>
              <a href="http://getbootstrap.com/"><span class="fui-html5"></span></a>
            </p>
          </div>
        </div>
        
      </div>
    </div>
      
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>